# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
android/build
core/build
desktop/build

#
local.properties
.idea
app-release-signed.apk
app-release-signed.apk.idsig
