name: build

on:
  - push
  - pull_request

jobs:
  android:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '17'

      - name: Build with gradle
        run: |
          ./gradlew :android:assemblerelease

      - name: Save apk artifact
        uses: actions/upload-artifact@v4
        with:
          name: apparatus-unsigned
          path: android/build/outputs/apk/release/app-release-unsigned.apk
